<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<ul>
    <li>
        <a href="/">HomePage</a>
    </li>
</ul>
<div>
    <h1>Add Book</h1>
    <form action="/bookCatalog/addBook" method="post">
        <input type="text" name="book_name" placeholder="Name of Book">
        <textarea type="text" name="book_short_description" placeholder="Book`s short description"></textarea>
        <button type="submit">Save</button>
    </form>
</div>
</body>
</html>