<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${LoginTitle}"></title>
</head>
<body>
<header class="header">
    <br>
    <h1>Login</h1>
    <ul>
        <li>
            <a href="/">Main page</a>
        </li>
        <li>
            <a href="/Registration">Registration</a>
        </li>
    </ul>
    <br>
</header>
<main  class="main">
    <form th:action="@{/Login}" method="post" class="form">
        <label>Email</label><br>
        <input type="text" name="username" placeholder="login"><br>
        <label>Password</label><br>
        <input type="password" name="password" placeholder="password"><br>
        <button class="for-button" tabindex="3" type="submit">Log in</button>
    </form>
    <div th:if="${param.error}">
        Invalid username and password.
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>
</main>
</body>
</html>