<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration</title>
    <link rel="stylesheet" href="../static/Registration_style.css">
</head>
<body>
<header class="header">
    <br>
    <h1>Registration</h1>
    <ul>
        <li>
            <a href="/">Home Page</a>
        </li>
        <li>
            <a href="/Login">Login</a>
        </li>
    </ul>
    <br>
</header>
<main class="main">
    <form class="form" th:action="@{/Registration}" method="post">
        <input type="text" name="username" placeholder="name">
        <input type="email" name="email" placeholder="email"><br>
        <input type="password" name="password" placeholder="password"><br>
        <button type="submit">Save</button>
    </form>
</main>
</body>
</html>